[buildout]
extends =
    https://raw.githubusercontent.com/zopefoundation/Zope/4.x/versions.cfg
    https://raw.githubusercontent.com/zopefoundation/Zope/4.x/sources.cfg
develop = .
parts = interpreter test coverage

[versions]
AccessControl =

[interpreter]
recipe = zc.recipe.egg
eggs =
    AccessControl

[test]
recipe = zc.recipe.testrunner
eggs = AccessControl

[coverage]
recipe = zc.recipe.testrunner
eggs = AccessControl
defaults = ['--coverage', '../../coverage', '-v', '--auto-progress']
