include *.txt
include *.rst
include .coveragerc
include tox.ini

recursive-include include *
recursive-include src/AccessControl *
recursive-include docs *.rst

global-exclude *.dll
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so
